{
  "openapi": "3.1.0",
  "info": {
    "title": "Replica API",
    "version": "2.0.0",
    "description": "The Replica API allows you to programmatically manage cloud workspaces for AI agents. Use this API to manage environments (the org-scoped primitive workspaces are created from — including variables, files, skills, MCPs, warm hooks, start hooks, and warm pools), create and manage replicas, send messages, manage chats, stream events, read connected repositories and repository sets, and configure automations."
  },
  "servers": [
    {
      "url": "https://api.tryreplicas.com",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Environments",
      "description": "Manage environments — the primitive that workspaces are created from. Variables, files, skills, MCPs, warm-hooks, and warm-pools are all scoped to an environment. Every organization has a singleton Global environment whose values apply to every workspace. Personal environments are scoped to the authenticated user and can be standalone or source-backed by a team environment."
    },
    {
      "name": "Repository",
      "description": "Read repositories and repository sets connected to your organization. Repositories are the underlying GitHub-connection layer; bind them to an environment to use them in workspaces."
    },
    {
      "name": "Replica",
      "description": "Manage replicas (workspaces) for AI agents"
    },
    {
      "name": "Terminal",
      "description": "Manage interactive terminal sessions in active workspaces"
    },
    {
      "name": "Preview",
      "description": "Manage public preview URLs for workspace ports"
    },
    {
      "name": "Profile",
      "description": "Read and update the authenticated user's profile"
    },
    {
      "name": "Credentials",
      "description": "Manage coding-agent credentials for an organization or the authenticated user"
    },
    {
      "name": "Google Search Console",
      "description": "Read Search Console properties, performance, sitemaps, and URL inspection results through a connected Google account"
    },
    {
      "name": "Slack",
      "description": "Route Slack threads to Replicas workspaces"
    },
    {
      "name": "Automation",
      "description": "Create and manage automations that trigger replicas on a schedule or in response to events"
    },
    {
      "name": "Downloads",
      "description": "Download Replicas applications"
    },
    {
      "name": "Analytics",
      "description": "Read aggregated activity and usage metrics for your organization: compute minutes, workspaces created by source, and pull request throughput over a time range."
    }
  ],
  "paths": {
    "/v1/opencode-go/credentials": {
      "get": {
        "operationId": "getOpenCodeGoOrganizationCredentials",
        "summary": "Get organization OpenCode Go credential status",
        "tags": [
          "Credentials"
        ],
        "responses": {
          "200": {
            "description": "Credential status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCredentialStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "setOpenCodeGoOrganizationCredentials",
        "summary": "Set the organization OpenCode Go API key",
        "tags": [
          "Credentials"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyCredentialRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credential stored",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCredentialUploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteOpenCodeGoOrganizationCredentials",
        "summary": "Delete the organization OpenCode Go API key",
        "tags": [
          "Credentials"
        ],
        "responses": {
          "200": {
            "description": "Credential deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCredentialDeleteResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/opencode-go/user/credentials": {
      "get": {
        "operationId": "getOpenCodeGoUserCredentials",
        "summary": "Get personal OpenCode Go credential status",
        "tags": [
          "Credentials"
        ],
        "responses": {
          "200": {
            "description": "Credential status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCredentialStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "setOpenCodeGoUserCredentials",
        "summary": "Set the authenticated user's OpenCode Go API key",
        "tags": [
          "Credentials"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyCredentialRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credential stored",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCredentialUploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteOpenCodeGoUserCredentials",
        "summary": "Delete the authenticated user's OpenCode Go API key",
        "tags": [
          "Credentials"
        ],
        "responses": {
          "200": {
            "description": "Credential deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCredentialDeleteResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/desktop/download/macos/{arch}": {
      "get": {
        "operationId": "downloadMacDesktopApp",
        "summary": "Download Replicas for macOS",
        "description": "Redirects to a short-lived download URL for the latest signed and notarized macOS DMG.",
        "tags": [
          "Downloads"
        ],
        "security": [],
        "parameters": [
          {
            "name": "arch",
            "in": "path",
            "required": true,
            "description": "Mac processor architecture.",
            "schema": {
              "type": "string",
              "enum": [
                "arm64",
                "x64"
              ]
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the DMG download.",
            "headers": {
              "Location": {
                "description": "Short-lived object storage URL.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "404": {
            "description": "Unsupported architecture.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/desktop/update/macos/{arch}/{version}": {
      "get": {
        "operationId": "getMacDesktopUpdate",
        "summary": "Check for a Replicas macOS update",
        "description": "Returns the latest signed macOS update when it is newer than the installed version.",
        "tags": [
          "Downloads"
        ],
        "security": [],
        "parameters": [
          {
            "name": "arch",
            "in": "path",
            "required": true,
            "description": "Mac processor architecture.",
            "schema": {
              "type": "string",
              "enum": [
                "arm64",
                "x64"
              ]
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "Installed desktop app version.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+\\.[0-9]+\\.[0-9]+$",
              "example": "0.1.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A newer desktop version is available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "name": {
                      "type": "string"
                    },
                    "notes": {
                      "type": "string"
                    },
                    "pub_date": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "url",
                    "name",
                    "notes",
                    "pub_date"
                  ]
                }
              }
            }
          },
          "204": {
            "description": "The installed version is current."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Unsupported architecture.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/analytics/overview": {
      "get": {
        "operationId": "getAnalyticsOverview",
        "summary": "Get Analytics Overview",
        "description": "Returns an aggregated overview of organization activity over a time range for organization admins: a per-bucket time series of workspaces created and pull requests opened, merged, and closed; compute-minute usage bucketed and broken down by workspace source; workspace counts grouped by source; and a summary total across the range.",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "query",
            "required": false,
            "description": "Time bucket granularity for the returned series. Defaults to `day`.",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ],
              "default": "day"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Inclusive start of the range as an ISO 8601 timestamp. Defaults to 30 days before `end`.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Exclusive end of the range as an ISO 8601 timestamp. Defaults to the current time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsOverview"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments": {
      "get": {
        "operationId": "listEnvironments",
        "summary": "List Environments",
        "description": "Returns environments visible to the caller, including the singleton Global environment for org scope. Each record includes counts of attached variables, files, skills, and MCPs.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Filter by environment scope. `org` returns team environments, `user` returns your personal environments, `all` returns both. Defaults to `org`.",
            "schema": {
              "type": "string",
              "enum": [
                "org",
                "user",
                "all"
              ],
              "default": "org"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvironmentsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createEnvironment",
        "summary": "Create Environment",
        "description": "Creates a new team or personal environment. `repository_id` and `repository_set_id` are mutually exclusive; both may be omitted for an unbound environment that can back repo-less workspaces. Personal environments are visible only to the authenticated user. When `scope=user` and `source_environment_id` references a team environment, the personal environment inherits from that source instead of copying it.",
        "tags": [
          "Environments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvironmentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Environment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "An environment with this name already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{id}": {
      "get": {
        "operationId": "getEnvironment",
        "summary": "Get Environment",
        "description": "Returns a single environment. Pass the literal string `global` for the org's singleton Global environment (auto-created on first access — no need to look up its UUID first).",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global` for the org's Global environment.",
            "schema": {
              "type": "string",
              "example": "global"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "operationId": "updateEnvironment",
        "summary": "Update Environment",
        "description": "Updates a non-global environment. Only provided fields are changed. `PATCH /v1/environments/global` returns 400 with a pointer to the nested resource endpoints (variables, files, skills, MCPs, warm hooks) — the Global env's metadata cannot be edited directly. Source-backed personal environments cannot change `repository_id`, `repository_set_id`, or `system_prompt`, but may set `personal_preferences`, instructions appended after the inherited system prompt. Returns 409 when an automation still references the environment in a way that blocks the requested change.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Environment UUID. The literal `global` is rejected with 400 — see endpoint description.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnvironmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Environment updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteEnvironment",
        "summary": "Delete Environment",
        "description": "Deletes an environment. Returns 409 when an automation still references the environment, when personal environments inherit from it, or when called against the Global environment (which cannot be deleted).",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Environment UUID. The literal `global` is rejected with 409 — the Global env cannot be deleted.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Environment deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/variables": {
      "get": {
        "operationId": "listEnvironmentVariables",
        "summary": "List Environment Variables",
        "description": "Returns every variable attached to the environment. Values are returned in plaintext (they are encrypted at rest, decrypted on read).",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global` for the org's Global environment.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvironmentVariablesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createEnvironmentVariable",
        "summary": "Create Environment Variable",
        "description": "Adds a new variable to the environment. Values are encrypted at rest. The `(environment, key)` pair must be unique within the org. Source-backed personal environments can override inherited variable keys only when the inherited variable has `personal_override_allowed: true`.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global` for the org's Global environment.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvironmentVariableRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Variable created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentVariableResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Admin access required to change personal override policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/variables/{id}": {
      "patch": {
        "operationId": "updateEnvironmentVariable",
        "summary": "Update Environment Variable",
        "description": "Updates a variable. Only provided fields are changed. Source-backed personal environments can override inherited variable keys only when the inherited variable has `personal_override_allowed: true`.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Variable UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnvironmentVariableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Variable updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentVariableResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Admin access required to change personal override policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteEnvironmentVariable",
        "summary": "Delete Environment Variable",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Variable UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Variable deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/files": {
      "get": {
        "operationId": "listEnvironmentFiles",
        "summary": "List Environment Files",
        "description": "Returns every file attached to the environment. Files are dropped into the workspace at the configured `path` when the workspace is provisioned.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvironmentFilesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createEnvironmentFile",
        "summary": "Create Environment File",
        "description": "Adds a new file to the environment. Maximum content size is 64 KB (65,536 bytes). The `path` is validated against allowed locations (typically under `~/`).",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvironmentFileRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentFileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/files/{id}": {
      "patch": {
        "operationId": "updateEnvironmentFile",
        "summary": "Update Environment File",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "File UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnvironmentFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentFileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteEnvironmentFile",
        "summary": "Delete Environment File",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "File UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/skills": {
      "get": {
        "operationId": "listEnvironmentSkills",
        "summary": "List Environment Skills",
        "description": "Returns every skill enabled on the environment. Skills come from [skills.sh](https://skills.sh) and are installed into workspaces created from the environment.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvironmentSkillsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createEnvironmentSkill",
        "summary": "Enable Environment Skill",
        "description": "Enables a skill on the environment. Use [GET /v1/environment-skills/search](#tag/Environments/operation/searchEnvironmentSkills) to discover skills first, then enable them with this endpoint. Returns 409 if the skill (by `slug` or `source`) is already enabled on the environment.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvironmentSkillRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Skill enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentSkillResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/skills/{id}": {
      "delete": {
        "operationId": "deleteEnvironmentSkill",
        "summary": "Disable Environment Skill",
        "description": "Disables a previously enabled skill on the environment.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Environment skill UUID (the membership row, not the skill catalog slug).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Skill disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/skills-registries": {
      "get": {
        "operationId": "listEnvironmentSkillsRegistries",
        "summary": "List Skill Registries",
        "description": "Returns every skill registry configured on the environment, along with the discovered skills from each registry repository.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvironmentSkillsRegistriesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createEnvironmentSkillsRegistry",
        "summary": "Add Skill Registry",
        "description": "Adds a GitHub repository as a skill registry on the environment. Skills discovered in the repository are installed into workspaces at provisioning time.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "GitHub repository URL (e.g. https://github.com/org/skills-repo)."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEnvironmentSkillsRegistryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/skills-registries/{skillsRegistryId}": {
      "delete": {
        "operationId": "deleteEnvironmentSkillsRegistry",
        "summary": "Remove Skill Registry",
        "description": "Removes a skill registry from the environment.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skillsRegistryId",
            "in": "path",
            "required": true,
            "description": "Skills registry UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registry removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/repo-skills": {
      "get": {
        "operationId": "listRepoSkills",
        "summary": "List Skills From Bound Repo",
        "description": "Returns skills, agents, commands, prompts, and rule files committed to the repository (or repository set) the environment is bound to. Resolved live from the repo's default branch via GitHub. Read-only: these are sourced from the user's git tree, not from `skills.sh`. When the environment is not bound to a repo, returns an empty list with no error.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. `error` is populated when discovery encountered a partial failure (e.g. the repo has no GitHub App installation); the UI surfaces it inline rather than treating it as a 5xx.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRepoSkillsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/mcps": {
      "get": {
        "operationId": "listEnvironmentMcps",
        "summary": "List Environment MCPs",
        "description": "Returns every MCP (Model Context Protocol server) attached to the environment.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvironmentMcpsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createEnvironmentMcp",
        "summary": "Create Environment MCP",
        "description": "Adds a new MCP server to the environment. `name` must match `^[A-Za-z0-9][A-Za-z0-9_-]{0,63}$` and cannot start with reserved prefix `replicas-`. The `config` shape depends on the `transport`: stdio uses `{ command, args, env }`; http and sse use `{ url, headers }`.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvironmentMcpRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "MCP created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentMcpResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/mcps/{id}": {
      "patch": {
        "operationId": "updateEnvironmentMcp",
        "summary": "Update Environment MCP",
        "description": "Updates an MCP. Only provided fields are changed. When changing `transport`, `config` is required and must match the new transport's shape.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "MCP UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnvironmentMcpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentMcpResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteEnvironmentMcp",
        "summary": "Delete Environment MCP",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "MCP UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MCP deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/warm-hooks": {
      "get": {
        "operationId": "getEnvironmentWarmHooks",
        "summary": "Get Warm Hooks State",
        "description": "Returns the active warm hook (if any) and warm pool config (if any) for the environment, along with current pool counts.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWarmHooksResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/warm-hooks/save": {
      "post": {
        "operationId": "saveEnvironmentWarmHook",
        "summary": "Save Warm Hook",
        "description": "Persists and activates the supplied script as the warm hook for the environment without running a test. Use this when you want to save quickly without waiting for a sandbox to spin up.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveWarmHookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Warm hook saved and activated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveWarmHookResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/warm-hooks/save-test": {
      "post": {
        "operationId": "saveAndTestEnvironmentWarmHook",
        "summary": "Save and Test Warm Hook",
        "description": "Saves the supplied script as the active warm hook for the environment and runs it in an isolated sandbox. Always persists the new version; the response includes the test result so callers can decide whether to roll back. The endpoint takes 30–90 seconds to return because it spins up a real sandbox.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveAndTestWarmHookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Warm hook saved (test result included in body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveAndTestWarmHookResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/warm-hooks/test": {
      "post": {
        "operationId": "testEnvironmentWarmHook",
        "summary": "Test Warm Hook",
        "description": "Runs the supplied script in an isolated sandbox without persisting it. Useful for iterating on a warm hook from the API before committing it via `save-test`. Takes 30–90 seconds to return.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestWarmHookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test executed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestWarmHookResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/start-hooks": {
      "get": {
        "operationId": "getEnvironmentStartHooks",
        "summary": "Get Start Hook",
        "description": "Returns the active start hook (if any) for the environment. Start hooks run at workspace boot, after the warm sandbox is claimed; the env-level hook runs before any repository-level start hooks defined in `replicas.json` / `replicas.yaml`.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStartHooksResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/start-hooks/save": {
      "post": {
        "operationId": "saveEnvironmentStartHook",
        "summary": "Save Start Hook",
        "description": "Persists and activates the supplied script as the start hook for the environment. Empty content clears the active start hook. Editing a start hook does not invalidate the warm pool — the new content is picked up automatically on the next claim, since start hooks run at workspace boot rather than during warming.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveStartHookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Start hook saved and activated, or cleared when content is empty",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveStartHookResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/start-hooks/test": {
      "post": {
        "operationId": "testEnvironmentStartHook",
        "summary": "Test Start Hook",
        "description": "Runs the supplied start hook script in an isolated sandbox without persisting it, and returns the full result once the hook finishes. Useful for short-lived clients (CLI, scripts) that prefer a single response over an SSE stream. Takes 30–90 seconds to return.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestStartHookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test executed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestStartHookResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/start-hooks/test/stream": {
      "post": {
        "operationId": "streamTestEnvironmentStartHook",
        "summary": "Test Start Hook (Streaming)",
        "description": "Provisions an isolated sandbox, runs the supplied start hook script, and streams output back as Server-Sent Events. Use this instead of a synchronous test endpoint to avoid gateway timeouts on long-running hooks. Events emitted: `progress` (status messages), `output` (captured stdout/stderr), `complete` (final `exit_code` and `timed_out`), and `error` (terminal failure).",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestStartHookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream of start hook test events",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE events. Each event has `type` in {`progress`, `output`, `complete`, `error`} plus an optional `message`, `output`, `exit_code`, or `timed_out` payload."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/warm-pools": {
      "put": {
        "operationId": "upsertEnvironmentWarmPool",
        "summary": "Enable or Disable Warm Pool",
        "description": "Enables or disables the warm pool for the environment. The target pool size is fixed by the platform; only `enabled` is configurable from the API.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "Environment UUID, or the literal string `global`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertWarmPoolConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Warm pool config updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpsertWarmPoolConfigResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/warm-pools/{configId}/workspaces": {
      "get": {
        "operationId": "listWarmPoolWorkspaces",
        "summary": "List Warm Pool Workspaces",
        "description": "Returns the most recent pre-warmed workspaces for a warm pool config, including their status (warming, snapshotting, ready, assigned, expired, failed). Useful for inspecting why a pool is not delivering ready workspaces. Returns up to 10 entries. To watch warm-hook output live during the `warming` phase, subscribe to [GET /v1/warm-pool-workspaces/{workspaceId}/stream](#tag/Environments/operation/streamWarmPoolWorkspace).",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "required": true,
            "description": "Warm pool config UUID (from the `warm_pool.id` returned by GET `/v1/environments/{environmentId}/warm-hooks` or PUT `/v1/environments/{environmentId}/warm-pools`).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWarmPoolWorkspacesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/warm-pool-workspaces/{workspaceId}/stream": {
      "get": {
        "operationId": "streamWarmPoolWorkspace",
        "summary": "Stream Warm Pool Workspace Updates",
        "description": "Server-Sent Events stream that delivers live warm-hook stdout/stderr plus status transitions for a single warm pool workspace. The monolith proxies output from the warming sandbox's engine; output is only available while the sandbox is running (i.e. `status` is `warming`). Once the workspace reaches `snapshotting` the sandbox is suspended and the stream stops emitting `output` events — only status transitions and the terminal `complete` event still flow. The stream auto-closes on terminal status (`ready`, `failed`, `expired`, `assigned`). Events emitted: `output` (appended chunk), `status` (transition between `warming` and `snapshotting`), `complete` (terminal with final workspace record), and `error`.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Warm pool workspace UUID (from the `id` field returned by [GET /v1/warm-pools/{configId}/workspaces](#tag/Environments/operation/listWarmPoolWorkspaces)).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream of warm pool workspace updates",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE events. Each event has `type` in {`output`, `status`, `complete`, `error`} plus an optional `output`, `status`, `workspace`, or `message` payload."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/environment-skills/search": {
      "get": {
        "operationId": "searchEnvironmentSkills",
        "summary": "Search Skill Catalog",
        "description": "Searches the [skills.sh](https://skills.sh) catalog for skills that can be enabled on an environment via [POST /v1/environments/{environmentId}/skills](#tag/Environments/operation/createEnvironmentSkill).",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Free-text query (matched against skill name and description). Empty query returns popular skills.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchEnvironmentSkillsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/replica/repositories": {
      "get": {
        "operationId": "listRepositories",
        "summary": "List Repositories",
        "description": "Returns a list of repositories available to your organization.",
        "tags": [
          "Repository"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "repositories": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Repository"
                      }
                    }
                  },
                  "required": [
                    "repositories"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/replica/repository-sets": {
      "get": {
        "operationId": "listRepositorySets",
        "summary": "List Repository Sets",
        "description": "Returns a list of repository sets available to your organization.",
        "tags": [
          "Repository"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "repository_sets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RepositorySet"
                      }
                    }
                  },
                  "required": [
                    "repository_sets"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/replica": {
      "post": {
        "operationId": "createReplica",
        "summary": "Create Replica",
        "description": "Creates a new replica in your organization and sends an initial message to the coding agent. The workspace and agent are initialized asynchronously.",
        "tags": [
          "Replica"
        ],
        "parameters": [
          {
            "name": "X-Replicas-Api-Version",
            "in": "header",
            "description": "Optional dated API version. When omitted, the request blocks until the workspace reaches `active` and the response includes the populated engine details (legacy behavior). When set to `2026-05-17`, the request returns immediately with a `preparing` workspace; the initial message is still delivered to the agent in the background. See the [API Versioning](/features/api#api-versioning) section for details.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2026-05-17"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReplicaRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Replica created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReplicaResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Repository or repository set not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "get": {
        "operationId": "listReplicas",
        "summary": "List Replicas",
        "description": "Returns a paginated list of all replicas in your organization. Supports filtering by user, source, and status. For this API endpoint, results are ordered by newest `created_at` first, except `status=archived` results are ordered by most recent activity (`last_activity_at`, falling back to `created_at`).",
        "tags": [
          "Replica"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter replicas by the user who created them",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter replicas by creation source",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "api",
                "dashboard",
                "slack",
                "linear",
                "github",
                "gitlab",
                "automation"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter replicas by status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "sleeping",
                "archived",
                "preparing",
                "error"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListReplicasResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/replica/{id}": {
      "get": {
        "operationId": "getReplica",
        "summary": "Get Replica",
        "description": "Returns detailed information about a specific replica by its ID. Use the `include` query parameter to request additional data such as environment configuration and diffs. If the workspace is sleeping or archived, it will be woken and the response will indicate this with `waking: true`.",
        "tags": [
          "Replica"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the replica",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Comma-separated list of additional fields to include in the response",
            "required": false,
            "schema": {
              "type": "string",
              "example": "environment,diffs"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReplicaResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      },
      "delete": {
        "operationId": "deleteReplica",
        "summary": "Delete Replica",
        "description": "Deletes a replica by its ID. This terminates the underlying sandbox and processes any outstanding billing.",
        "tags": [
          "Replica"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the replica",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Replica deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteReplicaResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/replica/{id}/messages": {
      "post": {
        "operationId": "sendReplicaMessage",
        "summary": "Send Message",
        "description": "Sends a message to an existing replica. Supports targeting a specific chat, choosing a coding agent and model, attaching images, and enabling plan mode.",
        "tags": [
          "Replica"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the replica",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendReplicaMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendReplicaMessageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/replica/{id}/chats": {
      "get": {
        "operationId": "listReplicaChats",
        "summary": "List Chats",
        "description": "Returns a list of chats for a replica.",
        "tags": [
          "Replica"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the replica",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chats": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ReplicaChat"
                      }
                    },
                    "waking": {
                      "type": "boolean",
                      "description": "If true, the workspace was sleeping or archived and is now waking up. Retry after 30-90 seconds."
                    }
                  },
                  "required": [
                    "chats"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createReplicaChat",
        "summary": "Create Chat",
        "description": "Creates a new chat session for a replica.",
        "tags": [
          "Replica"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the replica",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Chat created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplicaChat"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/replica/{id}/chats/{chatId}": {
      "delete": {
        "operationId": "deleteReplicaChat",
        "summary": "Delete Chat",
        "description": "Deletes a chat session from a replica.",
        "tags": [
          "Replica"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the replica",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "chatId",
            "in": "path",
            "description": "The unique identifier of the chat",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chat deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/replica/{id}/chats/{chatId}/slash-commands": {
      "get": {
        "operationId": "listReplicaSlashCommands",
        "summary": "List Slash Commands",
        "description": "Returns built-in Replicas slash commands and agent-provided commands for a chat, including Claude, Codex ASP, Cursor, Opencode, and Pi commands.",
        "tags": [
          "Replica"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the replica",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "chatId",
            "in": "path",
            "description": "The unique identifier of the chat",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlashCommandsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/v1/replica/{id}/chats/{chatId}/queue": {
      "get": {
        "operationId": "getReplicaChatQueue",
        "summary": "Get Chat Queue",
        "description": "Returns queued messages for a chat. The currently processing message is not included.",
        "tags": [
          "Replica"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the replica",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "chatId",
            "in": "path",
            "description": "The unique identifier of the chat",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Queue retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatQueueResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "clearReplicaChatQueue",
        "summary": "Clear Chat Queue",
        "description": "Removes all queued messages from a chat. The currently processing message is not interrupted.",
        "tags": [
          "Replica"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the replica",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "chatId",
            "in": "path",
            "description": "The unique identifier of the chat",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Queue cleared successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueMutationResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/replica/{id}/chats/{chatId}/queue/{messageId}": {
      "delete": {
        "operationId": "removeReplicaChatQueueMessage",
        "summary": "Remove Queued Message",
        "description": "Removes one queued message from a chat.",
        "tags": [
          "Replica"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the replica",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "chatId",
            "in": "path",
            "description": "The unique identifier of the chat",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "The unique identifier of the queued message",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Queued message removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueMutationResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/replica/{id}/chats/{chatId}/queue/reorder": {
      "patch": {
        "operationId": "reorderReplicaChatQueue",
        "summary": "Reorder Chat Queue",
        "description": "Moves a queued message to a new zero-based position.",
        "tags": [
          "Replica"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the replica",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "chatId",
            "in": "path",
            "description": "The unique identifier of the chat",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderQueueRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queue reordered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueMutationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/replica/{id}/history": {
      "get": {
        "operationId": "readReplicaHistory",
        "summary": "Read History",
        "description": "Reads the conversation history for a replica with pagination from the end (bottom-up). Optionally filter by chat ID. If the workspace is sleeping or archived, it will be woken and the response will indicate this with `waking: true`. Retry in 30-90 seconds when waking.",
        "tags": [
          "Replica"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the replica",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "chat_id",
            "in": "query",
            "description": "Filter history to a specific chat",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of events to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
[...]
